article.post, ul.post-list > li {
    img {
        &.imageRight {
            float: right;
            margin-left: 100px;
            margin-bottom: 50px;
        }

        &.short {
            max-height: 500px;
        }
    }

    .asciinema {
        text-align: center;

        iframe {
            max-width: 60%;

            @include media-query($on-palm) {
                max-width: 100%!important;
            }
        }
    }
}