article.post, ul.post-list > li {
    img {
        &.imageRight {
            float: right;
            margin-left: 100px;
            margin-bottom: 50px;

            @media only screen and (max-width: 1400px) and (min-width: 600px) {
                max-width: 40%;
            }
        }

        &.short {
            max-height: 500px;
        }
    }

    .asciinema {
        text-align: center;

        iframe {
            max-width: 60%;
        }
    }
}